<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rating</title>
</head>

<body>
    <pre>
EEEEEEEEEEEEEEEEEEEEEEBBBBBBBBBBBBBBBBB               AAA                 SSSSSSSSSSSSSSS HHHHHHHHH     HHHHHHHHH
E::::::::::::::::::::EB::::::::::::::::B             A:::A              SS:::::::::::::::SH:::::::H     H:::::::H
E::::::::::::::::::::EB::::::BBBBBB:::::B           A:::::A            S:::::SSSSSS::::::SH:::::::H     H:::::::H
EE::::::EEEEEEEEE::::EBB:::::B     B:::::B         A:::::::A           S:::::S     SSSSSSSHH::::::H     H::::::HH
  E:::::E       EEEEEE  B::::B     B:::::B        A:::::::::A          S:::::S              H:::::H     H:::::H  
  E:::::E               B::::B     B:::::B       A:::::A:::::A         S:::::S              H:::::H     H:::::H  
  E::::::EEEEEEEEEE     B::::BBBBBB:::::B       A:::::A A:::::A         S::::SSSS           H::::::HHHHH::::::H  
  E:::::::::::::::E     B:::::::::::::BB       A:::::A   A:::::A         SS::::::SSSSS      H:::::::::::::::::H  
  E:::::::::::::::E     B::::BBBBBB:::::B     A:::::A     A:::::A          SSS::::::::SS    H:::::::::::::::::H  
  E::::::EEEEEEEEEE     B::::B     B:::::B   A:::::AAAAAAAAA:::::A            SSSSSS::::S   H::::::HHHHH::::::H  
  E:::::E               B::::B     B:::::B  A:::::::::::::::::::::A                S:::::S  H:::::H     H:::::H  
  E:::::E       EEEEEE  B::::B     B:::::B A:::::AAAAAAAAAAAAA:::::A               S:::::S  H:::::H     H:::::H  
EE::::::EEEEEEEE:::::EBB:::::BBBBBB::::::BA:::::A             A:::::A  SSSSSSS     S:::::SHH::::::H     H::::::HH
E::::::::::::::::::::EB:::::::::::::::::BA:::::A               A:::::A S::::::SSSSSS:::::SH:::::::H     H:::::::H
E::::::::::::::::::::EB::::::::::::::::BA:::::A                 A:::::AS:::::::::::::::SS H:::::::H     H:::::::H
EEEEEEEEEEEEEEEEEEEEEEBBBBBBBBBBBBBBBBBAAAAAAA                   AAAAAAASSSSSSSSSSSSSSS   HHHHHHHHH     HHHHHHHHH
    </pre>
    <pre>
███████╗██╗  ██╗████████╗███████╗███╗   ██╗██████╗ ███████╗██████╗     ██████╗  █████╗ ███████╗██╗  ██╗
██╔════╝╚██╗██╔╝╚══██╔══╝██╔════╝████╗  ██║██╔══██╗██╔════╝██╔══██╗    ██╔══██╗██╔══██╗██╔════╝██║  ██║
█████╗   ╚███╔╝    ██║   █████╗  ██╔██╗ ██║██║  ██║█████╗  ██║  ██║    ██████╔╝███████║███████╗███████║
██╔══╝   ██╔██╗    ██║   ██╔══╝  ██║╚██╗██║██║  ██║██╔══╝  ██║  ██║    ██╔══██╗██╔══██║╚════██║██╔══██║
███████╗██╔╝ ██╗   ██║   ███████╗██║ ╚████║██████╔╝███████╗██████╔╝    ██████╔╝██║  ██║███████║██║  ██║
╚══════╝╚═╝  ╚═╝   ╚═╝   ╚══════╝╚═╝  ╚═══╝╚═════╝ ╚══════╝╚═════╝     ╚═════╝ ╚═╝  ╚═╝╚══════╝╚═╝  ╚═╝
                                                                                                       

    </pre>
    <form method="POST" action="/create-user">
        <label for="input-field">Create user:</label>
        <input type="text" id="input-field" name="username">
        <button type="submit">CREATE!</button>
    </form>
    <a href="data:text/plain,bash">Open Bash</a>

    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Rating</th>
            </tr>
        </thead>
        <tbody>
            {% for name, rating_data in rating.items() %}
            <tr>
                <td><!-- Assuming you have stored the username in a variable called `username` -->
                    <a href="/user/{{ name }}" target="_blank">{{ name }}</a>
                </td>
                <td>{{ rating_data[0] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>

</html>